<?xml version="1.0" encoding="UTF-8"?>

<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" version="4.0">
  <display-name>DemoApp</display-name>
   <welcome-file-list>
    <welcome-file>file.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>Upl</servlet-name>
    <servlet-class>com.rizz.Upl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Upl</servlet-name>
    <url-pattern>/upl</url-pattern>
  </servlet-mapping> 
</web-app>
