<?xml version="1.0" encoding="UTF-8"?>

<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" version="4.0">
  <display-name>DemoApp</display-name>
  <servlet>
    <servlet-name>Login</servlet-name>
    <servlet-class>com.market.Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Addfarmer</servlet-name>
    <servlet-class>com.market.Addfarmer</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Addfarmer</servlet-name>
    <url-pattern>/Addfarmer</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Addparty</servlet-name>
    <servlet-class>com.market.Addparty</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Addparty</servlet-name>
    <url-pattern>/Addparty</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Addsub</servlet-name>
    <servlet-class>com.market.Addsub</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Addsub</servlet-name>
    <url-pattern>/Addsub</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Admin</servlet-name>
    <servlet-class>com.market.Admin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Admin</servlet-name>
    <url-pattern>/Admin</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Alogout</servlet-name>
    <servlet-class>com.market.Alogout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Alogout</servlet-name>
    <url-pattern>/Alogout</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Dltemp</servlet-name>
    <servlet-class>com.market.Dltemp</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Dltemp</servlet-name>
    <url-pattern>/Dltemp</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Logout</servlet-name>
    <servlet-class>com.market.Logout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Logout</servlet-name>
    <url-pattern>/Logout</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Modf</servlet-name>
    <servlet-class>com.market.Modf</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Modf</servlet-name>
    <url-pattern>/Modf</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Modp</servlet-name>
    <servlet-class>com.market.Modp</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Modp</servlet-name>
    <url-pattern>/Modp</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Mods</servlet-name>
    <servlet-class>com.market.Mods</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Mods</servlet-name>
    <url-pattern>/Mods</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Purchase</servlet-name>
    <servlet-class>com.market.Purchase</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Purchase</servlet-name>
    <url-pattern>/Purchase</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Register</servlet-name>
    <servlet-class>com.market.Register</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Register</servlet-name>
    <url-pattern>/Register</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Sale</servlet-name>
    <servlet-class>com.market.Sale</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Sale</servlet-name>
    <url-pattern>/Sale</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Subpurchase</servlet-name>
    <servlet-class>com.market.Subpurchase</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Subpurchase</servlet-name>
    <url-pattern>/Subpurchase</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Updemp</servlet-name>
    <servlet-class>com.market.Updemp</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Updemp</servlet-name>
    <url-pattern>/Updemp</url-pattern>
  </servlet-mapping>
   <welcome-file-list>
    <welcome-file>login.jsp</welcome-file>
  </welcome-file-list>
</web-app>
